[build]
  command = "npm ci --no-audit --no-fund && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18.20.4"

# CMS + SPA routing
[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200

# IMPORTANT: allow real files under /admin (config.yml, etc.)
[[redirects]]
  from = "/admin/*"
  to = "/admin/:splat"
  status = 200



# SPA fallback LAST
[[redirects]]
  from = "/auth"
  to = "/auth/index.html"
  status = 200

[[redirects]]
  from = "/auth/*"
  to = "/auth/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
